h1{
    background-color: black;
    color: white;
}
div{
    background-color: gray;
}
.object1{
    background-color: gray;
    display: inline;
    margin-right: 44%;
}
header{
    background-color: lightgray;
}
a{
    margin-right: 10%;
    margin-left: 10%;
}

